.custum{width: 100%; height: auto;; padding:20px;background-color:#B3D1AD}
body { background-color:#EEEEEE}
.custum2{width: 100%; height: auto;margin-top:0; padding:20px;background-color:#A8B788 }
.pad{padding-top: 20px;}
.cusbtn{ padding:50px; margin-top: 30px; background-color: lightgreen;}
.f-right{float:right;margin-top: -22px}
{text-align: center;}
